:root {
    --primary-color: #dbd9e4;
    --secondary-color: hsl(0, 89%, 41%);
    --accent1-color: hsl(177, 86%, 49%);
    --accent2-color: #d5d8d5;

    --heading-font: 'Halant', serif;
    --paragraph-font: 'Nunito Sans', Sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav a :hover {
    text-decoration: underline;
}

main{
    display: flex;
    padding: 20px;
}

#content {
flex: 2;
display: flex;
flex-direction: column;
gap: 20px;
}

card {
    display: flex;
    align-items: centre;
    gap: 20px;
}

card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

layer {
flex-direction: row-reverse;
}
#card-sidebar {
background-color: #f4f4f4;
padding: 15px;
margin-left: 20px;
}

#card-sidebar h2{
    text-align: centre;
}

#card-sidebar ul {
    list-style-type:circle;
    padding-left: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: centr;
    padding: 10px;
    margin-top: 20px;
}